# Python Basic 


## Introduction to Python Programming and Data Structures

In this notebook, we will explore the basic concepts of Python programming, focusing on variables, data types, and common data structures. Python provides a rich set of built-in data types and data structures, which are essential for a variety of tasks in programming, especially in data science and machine learning.

We'll start by introducing the following key concepts:


## What You Are Going to Learn in This Notebook

In this notebook, you'll explore the core concepts of Python programming, including the following topics:


#### Print and Input Statements: 

Learn how to display information and take user inputs in your program.


#### Variables and Data Types:

Understand how to use variables and the various data types available in Python like integers, floats, strings, and booleans.


#### Data Structures: 

Get familiar with important data structures such as lists, tuples, sets, and dictionaries. Learn their characteristics and key operations.


#### List Operations and Methods:

Dive deep into the methods available for lists, including adding, removing, sorting, and accessing elements.


#### Tuple Operations and Methods: 

Learn about immutable tuples and how to use their methods.


#### Set Operations and Methods: 

Understand sets and their operations, including adding, removing, and updating elements.


#### Dictionary Operations and Methods:

Discover dictionaries and how to work with key-value pairs, including how to add, remove, and access dictionary elements.


By the end of this notebook, you'll have a solid understanding of these fundamental Python topics, giving you the tools you need to handle data, create efficient programs, and tackle various tasks in machine learning and data science.

# Tut 0: Print and Input Statement

In [1]:
print("Hello, World!")

Hello, World!

In [59]:
name = "Noor"  
age = 25  
print("My name is", name, "and I am", age, "years old.")

My name is Noor and I am 25 years old.

In [60]:
#  Formatted Strings (f-strings)
name = "Noor"  
age = 25  
print(f"My name is {name} and I am {age} years old.")

My name is Noor and I am 25 years old.

In [62]:
# String Concatenation
first_name = "AI"
middle_name = "With"
last_name = "Noor"  
print(first_name + " " + middle_name + " " + last_name)

AI With Noor

In [65]:
# Escape Characters (\n, \t, \\, \", \')
print("Hello \t World")  # New Line

Hello 	 World

In [66]:
print("Hello\tWorld")  # Tab Space

Hello	World

In [67]:
print("She said, \"Python is amazing!\"")  # Double Quotes inside String

She said, "Python is amazing!"

In [72]:
print('It\'s a sunny day')  # Single Quote inside String

It's a sunny day

In [78]:
# Custom Separator (sep Argument)
print("AI", "Data Science", "Machine Learning", sep=" | ")

AI | Data Science | Machine Learning

In [82]:
# Custom End (end Argument)
print("Hello",end=" ")  
print("World!",end=' ') 
print("noor")

Hello World! noor

# input() Function

In [86]:
name = input("Enter your name: ")

Enter your name: 20

In [87]:
print("Hello,", type(name))

Hello, <class 'str'>

In [89]:
# different types input
age = int(input("Enter your age: "))  
height = float(input("Enter your height in meters: "))  
print(f"You are {age} years old and {height} meters tall.")
print(type(age), type(height))

Enter your age: 10
Enter your height in meters: 3.0
You are 10 years old and 3.0 meters tall.
<class 'int'> <class 'float'>

In [94]:
# Multiple Inputs 
name, age = input("Enter your name and age: ").split()  
print(f"Name: {name}, Age: {age}")

Enter your name and age: noor 20
Name: noor, Age: 20

#  Variables and Data Types in Python

In [95]:
# 1. Integer
age = 25
print("Age:", age)
print("Type of age:", type(age))

# 2. Float
height = 5.9
print("Height:", height)
print("Type of height:", type(height))

# 3. String
name = "Alice"
print("Name:", name)
print("Type of name:", type(name))

# 4. Boolean
is_student = True
print("Is Student:", is_student)
print("Type of is_student:", type(is_student))

Age: 25
Type of age: <class 'int'>
Height: 5.9
Type of height: <class 'float'>
Name: Alice
Type of name: <class 'str'>
Is Student: True
Type of is_student: <class 'bool'>

# Data Structures

### List and its methods

In [52]:
# 5. List (ordered, mutable)
fruits = ["apple", "banana", "cherry"]

print("Fruits:", fruits)
print("Type of fruits:", type(fruits))

Fruits: ['apple', 'banana', 'cherry']
Type of fruits: <class 'list'>

In [96]:
# Define the list
fruits = ["apple", "banana", "cherry"]
# Add "mango" to the end of the list
fruits.append("mango")
print("After append:", fruits)
# Insert "orange" at index 1
fruits.insert(0, "orange")
print("After insert:", fruits)

After append: ['apple', 'banana', 'cherry', 'mango']
After insert: ['orange', 'apple', 'banana', 'cherry', 'mango']

In [99]:
fruits = ["apple", "banana", "cherry"]

# Remove "banana" from the list
# fruits.remove("banana")
# print("After remove:", fruits)
# # Remove and return the last item
# print("After pop (removed item):", fruits.pop())
# # Get the index of "apple"
# print("Index of 'apple':",  fruits.index("apple"))

print("Index of 'apple':",  fruits.index("apple"))

Index of 'apple': 0

In [100]:
fruits = [3,2,1,4,5]
# [1,2,3,4,5]

# Sort the list
fruits.sort()
print("After sort:", fruits)

# Reverse the list
fruits.reverse()
print("After reverse:", fruits)

# Get the length of the list
length = len(fruits)
print("Length of the list:", length)

After sort: [1, 2, 3, 4, 5]
After reverse: [5, 4, 3, 2, 1]
Length of the list: 5

### Tuple and its methods

In [101]:
# 6. Tuple (ordered, immutable)
colors = ("red", "green", "blue","red")
print("Colors:", colors)
print("Type of colors:", type(colors))


print("len ",len(colors))          # Get length
print("index ", colors.index("green"))  # Get index
print("count single word ", colors.count("red"))    # Count occurrences

Colors: ('red', 'green', 'blue', 'red')
Type of colors: <class 'tuple'>
len  4
index  1
count single word  2

### Set

In [27]:
# 7. Set (unordered, no duplicates)
unique_numbers = {1, 2, 3, 3}
print("Unique numbers:", unique_numbers)
print("Type of unique_numbers:", type(unique_numbers))

Unique numbers: {1, 2, 3}
Type of unique_numbers: <class 'set'>

In [102]:
# Initialize set
unique_numbers = {1, 2, 3, 3}
print("Original set:", unique_numbers)
# Add item
unique_numbers.add(4)
print("After adding 4:", unique_numbers)
# Remove item (error if not found)
unique_numbers.remove(2)  
print("After removing 2:", unique_numbers)

Original set: {1, 2, 3}
After adding 4: {1, 2, 3, 4}
After removing 2: {1, 3, 4}

In [103]:
# Discard item (no error if not found)
unique_numbers.discard(5)
print("After discarding 5 (not in set):", unique_numbers)
# Add multiple items
unique_numbers.update([5, 6])
print("After updating with [5, 6]:", unique_numbers)
# Empty the set
unique_numbers.clear()
print("After clearing the set:", unique_numbers)

After discarding 5 (not in set): {1, 3, 4}
After updating with [5, 6]: {1, 3, 4, 5, 6}
After clearing the set: set()

### Dictionary and its methods

In [105]:
names = {
    "names": ['ali','jhon','noor'],
    "age": [30, 35, 30],
}
names

{'names': ['ali', 'jhon', 'noor'], 'age': [30, 35, 30]}

In [30]:
# 8. Dictionary (key-value pairs)
student = {
    "name": "Bob",
    "age": 22,
    "is_graduated": False
}
print("Student:", student)
print("Type of student:", type(student))

Student: {'name': 'Bob', 'age': 22, 'is_graduated': False}
Type of student: <class 'dict'>

In [106]:
student = {
    "name": "Bob",
    "age": 22,
    "is_graduated": False

}

# Access value by key
print("Name:", student["name"])

# Get value by key (with default if key doesn't exist)
print("Age (with get):", student.get("age"))

# Add or update a key-value pair
student["degree"] = "Computer Science"
print("After adding/updating degree:", student)

Name: Bob
Age (with get): 22
After adding/updating degree: {'name': 'Bob', 'age': 22, 'is_graduated': False, 'degree': 'Computer Science'}

In [107]:
student = {
    "name": "Bob",
    "age": 22,
    "is_graduated": False
}



# Remove a key-value pair (raises error if key doesn't exist)
print("After removing 'age' key:", student.pop("age"))
print("final dic ", student)

After removing 'age' key: 22
final dic  {'name': 'Bob', 'is_graduated': False}

In [108]:
student = {
    "name": "Bob",
    "age": 22,
    "is_graduated": False
}


# Check if a key exists
print("Is 'name' a key in the dictionary?", "name" in student)
print("Is 'degree' a key in the dictionary?", "degree" in student)

Is 'name' a key in the dictionary? True
Is 'degree' a key in the dictionary? False

In [109]:
student = {
    "name": "Bob",
    "age": 22,
    "is_graduated": False
}

# Get all keys
print("All keys:", student.keys())
# Get all values
print("All values:", student.values())
# Get all key-value pairs (as tuples)
print("All items:", student.items())

All keys: dict_keys(['name', 'age', 'is_graduated'])
All values: dict_values(['Bob', 22, False])
All items: dict_items([('name', 'Bob'), ('age', 22), ('is_graduated', False)])

In [50]:
student = {
    "name": "Bob",
    "age": 22,
    "is_graduated": False
}    
# Update dictionary with another dictionary
additional_info = {"city": "New York", "age": 23}  # Age will overwrite
student.update(additional_info)
print("After updating with another dictionary:", student)

After updating with another dictionary: {'name': 'Bob', 'age': 23, 'is_graduated': False, 'city': 'New York'}

In [51]:
student = {
    "name": "Bob",
    "age": 22,
    "is_graduated": False
}
# Clear all items in the dictionary
student.clear()
print("After clearing the dictionary:", student)

After clearing the dictionary: {}